



a{
  color: black;
  text-decoration: none;
}
.lateralBar li {
  writing-mode: vertical-rl; /* Cambia la dirección del texto verticalmente */
  transform: rotate(180deg); /* Gira el texto para que la parte inferior apunte hacia la derecha */
  text-align: left; /* parte superior de las letras mirando hacia la derecha */
  list-style: none;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  
}

.tarea{
  width: 14px;
  height: 14px;
  visibility: hidden;
}


.lateralBar{
  display: none;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 5em;
 
  z-index: 100;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}

.lateralBar li:hover{
  color: var(--color-background-blue);
  cursor: pointer;
}



.blog-title{
    margin-left: 1em;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
}

.blog-subtitle{
    margin-left: 1em;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1em;
}

.span-autor{
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

.span-autor img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
   margin-bottom:  -10px;
   
}



.text{
    overflow: scroll;
    position: relative;
}
.img-services{
    margin-top: 2em;
    width: 84%;
    height: 18em;
    margin-left: auto;
    margin-right: auto;
    
  }
.div-content-blog-text{
height: auto;
}

.div-content-blog-text div{
    width: 100%;
    height: auto;
    padding-left: 2em;
    }

    .ultimas{
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
         text-align: center;
    }


    .div-container {
        justify-content: center; /* Alinear horizontalmente */
        align-items: center; /* Alinear verticalmente */
        display: flex;
        flex-direction: row;
        width: 30em;
        height: 10em;
        background-image: url(../../Image/imagenes-05.png);
        background-size: cover;
        background-position: center;
         background-repeat: no-repeat;
    }

    .div-container:hover{
        opacity: 0.5;
    }
    
    .div-container img {
        margin: 0;
        width: 14em;
        height: 6.4em;
        margin-left: 4em;
    }
    
    .div-container > div {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        text-align: center;
        position: absolute;
        bottom: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center; /* Centrar verticalmente el contenido */
    }

    .contenedor{
        display: flex;
        width: 100%;
        height: 100%;
    }




    
    /* media query */
    
@media (max-width: 640px) and (min-width: 540px) {
    .form button {
      margin-left: 6.4em;
    }
  
    .div1-nav{
      width: 20%;
    }
  
    .div2-nav{
      width: 24%;
    }
  
  
  }

  
@media (min-width: 750px) {

  
    .Nav{
      height: 88px;
      
    }
  
  
    .div1-nav{
      height: 66%;
      width: 18%;
    }
    
    .div2-nav{
      width: 18%;
      height: 68%;
    }
  
    .image-meet {
      margin-top: 0.5%;
      width: 54%;
      height: 100%;
      
    }

  
    .menu{
      display: none;
    }
  
    .boton-contact{
      display: block;
    }
    .boton-contact div{
      background-color: var(--color-background-blue);
    }
    
    
  
  .boton-contact div{
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 46px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    border-radius: 10px;
    color: var(--color-white);
  }
  
  .boton-contact div:hover{
  cursor: pointer;
  background-color: #4063ffa9;
  }


  .img-services{
    width: 74%;
    height: 22em;
  }
}  



@media (min-width: 1000px) {

  .blog-subtitle{
    margin-left: 4.8em;
  }

  .blog-title {
    margin-left: 4em;
  }

  .lateralBar{
    display: flex;
  }

    .div1-nav{
      width: 12%;
    }
  
    .div2-nav{
      width: 14%;
     
    }
  
    .menu{
      display: none;
    }

    .img-services{
        margin-top: -4em;
    }

  



}


@media (min-width: 1280px) {
     
      .section-service {
        padding-top: 10em;
    }

    .img-services{
        margin-top: -4em;
    }
}