
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Rubik:wght@400;500;700&display=swap');

:root {
  --color-Background: #eff0f5; /* Azul */
  --color-white: white; /* Rojo */
    --color-black-leve: #10100F; /* Naranja */
    --color-text: #333; /* Texto principal */
    --color-background-blue:#4063FF;
    --color-blue-gradient: linear-gradient(90deg, rgba(64,99,255,1) 7%, rgba(0,92,254,1) 90%); /* Fondo */
  }

  body{
    background-color: var(--color-Background);
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  

.hamburguerBar{
  list-style: none;
  border-radius: 18px;
  padding: 3em;
  padding-top: 2em;

  position: fixed;
  z-index: 3000;
  top: 3em;
  right: 4em;
  display: none;
  flex-direction: column;
  background-color: var(--color-white);
  width: 12em;
  height: 16em;
  padding-bottom:  10%;
  padding-left: 1em;
  z-index: 400;
  font-family:  'Montserrat', sans-serif;
  
  
}

.hamburguerBar li{
  list-style: none;
  margin-left:  0.4em;

}

.hamburguerBar a{
  width: auto;
  display: flex;
  align-items: center;
  margin: 0.6em;
}

.hamburguerBar ul {
  flex-direction: column-reverse;
  display: flex;
  
}

.hamburguerBar button {
  width: 100%;
  height: 3em;
  background-color: var(--color-background-blue);
  border: none;
  border-radius: 8px;
  color: var(--color-white);
  margin-left: 1em;
 
}



  


  .tarea{
    width: 14px;
    height: 14px;
    visibility: hidden;
  }


  
a{
  color: black;
  text-decoration: none;
}
.lateralBar li {
  writing-mode: vertical-rl; /* Cambia la dirección del texto verticalmente */
  transform: rotate(180deg); /* Gira el texto para que la parte inferior apunte hacia la derecha */
  text-align: left; /* parte superior de las letras mirando hacia la derecha */
  list-style: none;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  
}




.lateralBar{
  display: none;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 5em;
 
  z-index: 100;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}

.lateralBar li:hover{
  color: var(--color-background-blue);
  cursor: pointer;
}



  .Nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 22px;
    width: 90%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.032);
    backdrop-filter: blur(40px); 
    border-radius: 12px;
    left: 50%; /* Desplazamos el elemento a la mitad del ancho del viewport */
    transform: translateX(-50%); /* Lo movemos hacia la izquierda en la mitad de su propio ancho */
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 2;
  
}

.div1-nav{
  border-radius: 8px;
  width: 24%;
  height: 60%;
  display: flex;
  background-image: url(./Image/ORIGINAL\ \(1\)\ \(1\).png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 8px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 5px;
  overflow: hidden;
}

.div1-nav:hover{
  cursor: pointer;
  opacity: 0.6;
}



.imagen-nav-logo{
  width: 22px;
  height: 20px;
}


.div2-nav{
  border-radius: 8px;
  color: var(--color-white);
  width: 31%;
  height: 60%;
  display: flex;
  background-color: #10100F;
  font-size: 10px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 1.5px;
  
  
}

.div2-nav:hover{
  opacity: 0.8;
}
.image-meet {
  width: 44px;
  height: 46px;
  background-image: url(../../Image/zoom-meeting-logo-transparent-png-21\ -\ copia.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 12px;
  margin-top: -3px;

}


.reunion-virtual{
  font-size: 8px;
}

.meet{
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}


.menu{
  width: 50px;
  height: 50px;
  background-color: white;
  background-image: url(../../Image/menu.png);
  background-size: cover;
  background-color:var(--color-white);
  border-radius: 10px;
}

.boton-contact{
  display: none;
}


.section-service {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 8em;

}

.title-blog {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
}

.img-title {
    width: 100px;
    height: 100px;
    margin-top: -2em;
    margin-left: 0.4em;

}

.text-title {
    font-size: 2rem;
    width: 200px;
    height: 118px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}




.div-content-blog-text{
  width: 100%;
  height: 36vh;
}

.text{
  text-align: left;
  font-size: 16px;
  height: 16em;
  width: 70%;
  

 
  margin-left: 18%;
  margin-right: auto;
}

.div-image{
  margin-top: -2em;
  width: 80px;
  height: 60px;
  background-color: var(--color-white);
  margin-right: 1.4em;
  border-radius: 8px;
  background-image: url(../../Image/imagenes-05.png);
  background-size: cover;
}



.img-services{
  margin-top: 6em;
  width: 70%;
  height: 18em;
  margin-left: auto;
  margin-right: auto;
  
}

.section-themes {
  overflow: hidden;
  margin-top: 80px;
  background-color: #eff0f5;
  
}

.carousel-container {
  display: flex;
  overflow-x: auto;
  padding: 2em;
  gap: 1em;
  width: auto;
}

.div-container {
  flex: 0 0 160px;
  height: 110px;
  background-color: #fff;
  border-radius: 16px;
  text-align: center;
  position: relative;
  text-decoration: none;
  color: black;
  margin-left: 1em;
}

.div-container:hover{
  cursor: pointer;
}

.div-container img {
  width: 90px;
  height: 74px;
  margin-top: -28px;
  margin-bottom: 18px;
}

.div-container > div {
  padding: 10px;
  font-size: 10px;
  margin-top: -36px;
}

.carousel-container{
  overflow: scroll;
  position: relative;
}

.carousel-container::-webkit-scrollbar {
  width: 0.5em;
}










.footer-main{
  margin-top: 3em;
  width: 100%;
  height: 140px;
  background-color:var(--color-Background);

  
  
}


.content-footer{
  padding-top: 1em;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;

  
}

.content-footer img{
 width: 30px;
 height: 30px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 0.5em;
}


.content-footer ul div{
 display:inline-flex;
 flex-direction: row;
 justify-content: center;


 
}
a{
  text-decoration: none;
}

.content-footer li{
  list-style: none;
  margin-left: 5px;
  font-size: small;
  font-family: 'Montserrat', sans-serif;
  
  color: black;
  

  
}
.content-footer li:hover{
  color: var(--color-background-blue);
  

  
}


.content-footer .img{
  width: 16px;
  height: 16px;
  visibility: hidden;
 
}

.content-footer-logo {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; /* Añadido para centrar verticalmente */
}

.content-footer-logo div, .content-footer-logo img {
  width: 110px;
  height: 32px;
  margin: 0; /* Asegúrate de que no haya márgenes */
  padding: 0; /* Asegúrate de que no haya relleno */
  display: flex;
  align-items: center;

}


.content-footer-logo a {
  text-decoration: none;
  color: black;

}
.content-footer-logo div {
  display: flex;
  background: var(--color-background-blue);
  border-radius: 10px;
  color: var(--color-white);
  text-align: center;
  padding: 0.1em;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}


.content-options{
  
  width: 90%;
  padding: 0;
  margin-left: 5px;
  height: auto;
  justify-content: center;
  text-align: center;
 

}










/* los media quieries  */

@media (max-width: 640px) and (min-width: 540px) {
  .form button {
    margin-left: 6.4em;
  }

  .div1-nav{
    width: 20%;
  }

  .div2-nav{
    width: 24%;
  }


}


@media (min-width: 750px) {
  .content-options{
    width: 99%;
  }

  
  .Nav{
    height: 88px;
    
  }


  .div1-nav{
    height: 66%;
    width: 18%;
  }
  
  .div2-nav{
    width: 18%;
    height: 68%;
  }

  .image-meet {
    margin-top: 0.5%;
    width: 54%;
    height: 100%;
    
  }
  .menu{
    display: none;
  }

  .boton-contact{
    display: block;
  }
  .boton-contact div{
    background-color: var(--color-background-blue);
  }
  
  

.boton-contact div{
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 46px;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  border-radius: 10px;
  color: var(--color-white);
}

.boton-contact div:hover{
cursor: pointer;
background-color: #4063ffa9;
}



.div-content-blog-text{
  width: 74%;
}

.title-blog {
  margin-bottom: 2em;
}

.img-services {
  margin-top: 4em;
  width: 47%;
  height: 25em;
}

.carousel-container{
  overflow: auto;
  width: 100%;
  justify-content: center;
}

.text{
  font-size: 20px;
}

}



@media (min-width: 1000px) {



  .lateralBar{
    display: flex;
  }

  .div1-nav{
    width: 12%;
  }

  .div2-nav{
    width: 14%;
   
  }

  .menu{
    display: none;
  }

  .section-service{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .div-content-blog-text{
    width: 100%;
  }
  
  .img-services {
    margin-top: 4em;
    width: 78%;
    height: 25em;
  }

  .div2-nav span{
    font-size: 16px;
  }
  
}


@media (min-width: 1280px) {
  .img-services{
    margin-top: -4em;
  }

  .meet{
    width: 80%;
  }
  .img-services{
    margin-top: 2em;
    width: 60%;
  }

  .text-title{
    font-size: 3rem;
    width: 300px;
  }

  .text{
    font-size: 20px;
  }

  .section-service {
    padding-top: 4em;
  }
}