@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Rubik:wght@400;500;700&display=swap');

:root {
  --color-Background: #eff0f5; /* Azul */
  --color-white: white; /* Rojo */
    --color-black-leve: #10100F; /* Naranja */
    --color-text: #333; /* Texto principal */
    --color-background-blue:#4063FF;
    --color-blue-gradient: linear-gradient(90deg, rgba(64,99,255,1) 7%, rgba(0,92,254,1) 90%); /* Fondo */
  }
  

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

 

}


/* Estilos para la alerta */
.alert {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  z-index: 100;
  padding: 15px;
  background-color: var(--color-background-blue);
  color: white;
  position: absolute;
  width: 300px;
  height: 140px; /* Altura fija para la alerta, ajusta según tus necesidades */
  margin: auto;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none; /* Inicialmente oculto */
  animation: fadein 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Estilos para el botón de cierre (X) */
/* Estilos para la alerta */


/* Estilos para el texto en la alerta */
.alert p {
  margin-bottom: 10px; /* Espacio entre el texto y el icono */
}

/* Estilos para el icono de marca de verificación */
.alert i {
  font-size: 24px; /* Tamaño del icono */
  color: #fff; /* Color del icono */
  display: block; /* Hace que el icono se muestre debajo del texto */
  margin: 10px auto; /* Centra el icono horizontalmente y agrega espacio arriba y abajo */
}

/* Animación de salida de la alerta */
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateX(-5px); /* Empieza a moverse a la izquierda */
  }
  25% {
    opacity: 1;
    transform: translateX(5px); /* Ligeramente a la derecha */
  }
  50% {
    opacity: 1;
    transform: translateX(-5px); /* Vuelve a la izquierda */
  }
  75% {
    opacity: 1;
    transform: translateX(5px); /* Otra vez a la derecha */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Vuelve a la posición original */
  }
}






.hamburguerBar{
  list-style: none;
  border-radius: 18px;
  padding: 3em;
  padding-top: 2em;

  position: fixed;
  z-index: 3000000;
  top: 3em;
  right: 4em;
  display: none;
  flex-direction: column;
  background-color: var(--color-white);
  width: 12em;
  height: 16em;
  padding-bottom:  10%;
  padding-left: 1em;
  font-family:  'Montserrat', sans-serif;
  
  
}

.hamburguerBar li{
  list-style: none;
  margin-left:  0.4em;
  font-family:  'Montserrat', sans-serif;

}

.hamburguerBar a{
  width: auto;
  display: flex;
  align-items: center;
  margin: 0.6em;
}

.hamburguerBar ul {
  flex-direction: column-reverse;
  display: flex;
  font-family:  'Montserrat', sans-serif;
  
}

.hamburguerBar button {
  width: 100%;
  height: 3em;
  background-color: var(--color-background-blue);
  border: none;
  border-radius: 8px;
  color: var(--color-white);
  margin-left: 1em;
 
}





.lateralBar li {
  writing-mode: vertical-rl; /* Cambia la dirección del texto verticalmente */
  transform: rotate(180deg); /* Gira el texto para que la parte inferior apunte hacia la derecha */
  text-align: left; /* parte superior de las letras mirando hacia la derecha */
  list-style: none;
  padding: 1em;
  font-family: 'Montserrat', sans-serif;
  
}



.lateralBar{
  
  display: none;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 5em;
 
  z-index: 100;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}

.lateralBar li:hover{
  color: var(--color-background-blue);
  cursor: pointer;
}




a{
  text-decoration: none;
  color: black;
  scroll-behavior: smooth;
  cursor: pointer;
}
#app{
  background-color: var(--color-Background);
  height: auto;
}
.content-theme{
  justify-content: space-evenly;
  
  display: flex;
  width: 100%;
  height: 10em;
}


.Nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 22px;
  width: 90%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.032);
  backdrop-filter: blur(40px); 
  border-radius: 12px;
  left: 50%; /* Desplazamos el elemento a la mitad del ancho del viewport */
  transform: translateX(-50%); /* Lo movemos hacia la izquierda en la mitad de su propio ancho */
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 700000;

}

.div1-nav{
border-radius: 8px;
width: 24%;
height: 60%;
display: flex;
background-image: url(./Image/ORIGINAL\ \(1\)\ \(1\).png);
background-size: cover;
background-repeat: no-repeat;
font-size: 8px;
margin-top: auto;
margin-bottom: auto;
padding-top: 5px;
overflow: hidden;
}

.div1-nav:hover{
cursor: pointer;
opacity: 0.6;
}

.reunion-virtual{
  font-size: 10px;
}


.imagen-nav-logo{
width: 22px;
height: 20px;
}


.div2-nav{
border-radius: 8px;
color: var(--color-white);
width: 31%;
height: 60%;
display: flex;
background-color: #10100F;
font-size: 10px;
margin-top: auto;
margin-bottom: auto;
padding-top: 1.5px;


}

.div2-nav:hover{
opacity: 0.8;
}
.image-meet {
width: 44px;
height: 46px;
background-image: url(../../Image/zoom-meeting-logo-transparent-png-21\ -\ copia.png);
background-size: contain;
background-repeat: no-repeat;
border-radius: 12px;
margin-top: -3px;

}


.reunion-virtual{
font-size: 8px;
}

.meet{
margin-top: auto;
margin-bottom: auto;
display: flex;
flex-direction: column;
}


.menu{
width: 50px;
height: 50px;
background-color: white;
background-image: url(../../Image/menu.png);
background-size: cover;
background-color:var(--color-white);
border-radius: 10px;
}

.boton-contact{
display: none;
}




.image-abstracta{
  padding-top: 6em;
  display: flex;
  margin-top: 0%;
  margin-right: auto;
  margin-left: auto;
  width: 79%;
  height: 14%;
}

.content-h1-title{
  width: 100%;
  height: 100px;
  justify-items: center;
  display: flex;
  
}

.h1-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  
  font-size: 26px;
  margin-left: auto;
  margin-right: auto;
}

.h1-title span {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
}


.div-span-leer-mas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 40%;
  color: var(--color-black-leve);
  margin-left: 6em;
  margin-top: 1em;
}





.tarea{
  width: 14px;
  height: 14px;
  visibility: hidden;
}

.gafas{
  width: 42px;
  height: 16px;
}


.seccion-of-icons-social-media{
  width: 100%;
  margin-top: 20px;
  
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;

  flex-direction: row;
 
  justify-content: space-evenly;
  align-items: center;

}
.social-media-icon{
 width: 30px;
 height: 30px;
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
  margin-top: 48px;
 z-index: 10000;

 
}

#icons1{
  background-image: url(./Image/imagenes-32.png);

}

#icons2{
  background-image: url(./Image/imagenes-33.png);

}
#icons3{
  background-image: url(./Image/facebook2.png);

}
#icons4{
  background-image: url(./Image/imagenes-35.png);

}
#icons5{
  background-image: url(./Image/imagenes-36.png);
}

#section-themes{
  width: 100px;
  height: 100px;
}

.arrow{
  margin-top: -50px;
  width: 140px;
  height: 160px;
  background-image: url(./Image/boton_a1-02.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
text-align: center;
padding-top: 18%;
padding-right: 10%;
}


.a-arrow{
  background-image: url(./Image/boton_a1-03.png);
  background-size: contain;
  color: transparent;
  background-repeat: no-repeat;
}





.section-themes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2em;
  column-gap: 1em;
  justify-content: center;
  padding: 2em;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  background-color: #eff0f5;
 
}

.div1, .div2, .div3, .div4, .div5, .div6 {
  
  width: 160px;
  height: 110px;
  background-color: #fff;
  border-radius: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 8px;
  background-image: url(./Image/imagenes-12.png);
  background-size:cover;
  background-size: 105%;
  background-position-y: -5px;
  background-repeat: no-repeat;

}

.div6{
  width: 50%;
 grid-column: 1/span 2;
}


.div1 img,.div2 img,.div3 img, .div4 img,.div5 img,.div6 img{
  width: 90px;
  height: 74px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -24px;
}



/* secction contact me */

.secction-contact{
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  justify-items: center;
  text-align: center;
  background-color: #eff0f5;

}

.div-content-contact-spans{
  margin-left: auto;
  margin-right: auto;
 
 
  width: 80%;
  height: 100px;
  
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background-image: url(./Image/Ayuda\ con\ tu\ \(1\).png);
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}


.formularios{
  width: 100%;
  height: 30em;
  display: flex;
  flex-direction: column;
  background-color: #eff0f5;
  
}

.form{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.form button{
  
  position: absolute;
  width: 34%;
  height: 2em;
  border-radius: 4px;
  border: none;
  margin-left: 4.4em;
  margin-right: 4em;

  margin-top: 12em;
  background: linear-gradient(90deg, rgba(64,99,255,1) 7%, rgba(0,92,254,1) 90%);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;


}

.div-primer-form{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 66%;
  height: 17.6em;
  border-radius: 16px;
  margin-top: 10px;
  padding: 1em;
  background-image: url(./Image/imagenes-03.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  z-index: 1;
 
}



.div-segundo-form{
  position: relative;
  background-color: #eff0f5;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 12em;
  border-radius: 16px;
  margin-top: 10px;
  padding: 1em;
  padding-top: 3em;
  background-image: url(./Image/imagenes-09.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 1px;
  margin-top: -50px;
 
}


.contact-form-span{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align: left;
  margin-left: 10px;
  color: #eff0f5;
  margin-bottom: 6em;
}

.div-primer-form label, .div-segundo-form label{
  font-size: small;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  margin-bottom: 0.5em;


}

.div-primer-form input, .div-segundo-form input{
  width: 80%;
  height: 1.8em;
  color: white;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  border: none;
  background-color: rgba(14, 13, 13, 0.507);
  display: flex;
  text-align: center;
}
.div-segundo-form{
  background-color: white;
  margin-top: -1.5em;
}



.div-segundo-form label{
margin-bottom: 0.5em;
color: black;
}

.div-segundo-form input{
  color: black;
  background-color: #e5e5e5;
}


.div-segundo-form .proyecto-input{
 height: 140px;
}

/* section of resumen */

.section-resumen{
  width: 100%;
  height: 20%;
  padding-top: 4em;
  background-color: #eff0f5;
  
}


.title-resumen{
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  background-color: #eff0f5;
}

.content-grid-resumen{
  background-color: #eff0f5;
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
  padding: 1.4em;
}

.grid1{
  background-color: black;
  grid-column: 1/span 2;
  grid-row: 1/span 3;
  border-radius: 12px;
  height: 100%;
  width: auto;
  background-image: url(./Image/Ahora.png);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 0px -5px;
  z-index: 1;
}


.grid1 .flecha{
  position: relative;
  width: 50px;
  height: 50px;
  background-image: url(./Image/imagenes-20.png);
  background-size: cover;
  margin-top: 10em;
  border-radius: 50%;
  margin-left: auto;
  left: 24px;

}

.grid1 .boton1{
  width: 140px;
  height: 50px;
  background-color: red;
  margin-top: 6em;
  margin-left: 1em;
  border-radius: 8px;
  background-color: white;
  background-image: url(./Image/Reunion\ Virtual.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.grid2{
  background-color: white;
  grid-row: 2/3;
  grid-column: 3/4;
  border-radius: 12px;
  background-image: url(./Image/Acerca\ de\ \(1\).png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}

.flecha2{
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(./Image/imagenes-18.png);
  background-size: cover;
  margin-left: auto;
  left: 14%;
  margin-top: 30%;
  
}

.grid3{
  background-image: url(./Image/Contactame.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 1/span 3;
  grid-row: 4;
  border-radius: 12px;
  height: 160px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.flecha3{
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(./Image/imagenes-18.png);
  background-size: cover;
  margin-left: auto;
  left: 12px;
  margin-top: 24%;
  
}

.section-blog{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-Background);
  width: 100%;
  height: 72em;
  margin-top: 2em;
  padding-top: 2em;
  flex-direction: column;
}


.content-img{
  height: 16em;
  justify-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
  row-gap: 3em;
  color: var(--color-white);
  margin-top: 6em;

}

.blog{
 border: none;
  height: 100%;
  width: 100%;
  background-image: url(./Image/imagenes-07.png);
  backdrop-filter:  brightness(0.5); ;
  background-position: center;
  background-size:120%;
  background-repeat: no-repeat;
  border-radius: 12px;
  text-align: center;
  padding-top: 4em;
  display:flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;


  
}

.blog p{
  font-size: 8px;
  text-align: justify;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(219, 228, 243);
  margin-top: 1em;
  margin-bottom: 2em;
  
}

.blog span{
  font-size: 16px;
}

.border{
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  background-color: #10100F;
  margin-top: -6em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  border-radius: 50%;
}

.blog img{
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
 
 
margin: 1em;

  border-radius: 10%;
}

#blog1{
  grid-column: 1;
  

}

#blog2{
  grid-column: 2;
  
}

#blog3{
  
  grid-column: 2 ;
  grid-row: 1;
}

#blog4{
  grid-row: 2;
  grid-column: 1;
    
}
#blog5{

  grid-column: 1 / span 2;
  grid-row: 3;
  width: 50%;
    
}





.div-title-blog{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
 

}

.p-blog{
  margin-top: 1em;
  width: 80%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}


.h1-blog{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}


.h2-blog{
 text-align: right;
 font-family: 'Montserrat', sans-serif;
}





.section-comentarios{
  width: 100%;
  height: 600px;
  background-color: var(--color-Background);
}



.oponion-div{
  width: 100%;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

.oponion-div img{
  width: 50px;
  height: 50px;
}

.div-inter-opinion{
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
  align-content: center;
}

.div-inter-opinion span{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 0.4em;
}

.div-inter-opinion p{
  font-size:medium;

  
}



.coment-div{
  width: 100%;
  height: auto;
  background-color: var(--color-Background);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5em;
}


.one, .two, .three,.four{
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  width: 88%;
  height: 10em;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-white);
  border-radius: 28px;
  padding-top: 0.5em;

}



 .new-coment{
  border-radius: 12px;
  padding: 0.1em;
  padding-right: 0.5em;
  margin-top: 1.5em;
  margin-left: 1em;


}

.new-coment p{
  margin-top: 1em;
  font-size: 12px;
}

.new-coment span{
  padding-top: 10em;
  font-family: 'Montserrat', sans-serif;
}

.start{
  width: 100%;
  height: 1.4em;
  margin-right: 1em;
  display: flex;
  justify-content: right;
  margin-top: 0em;
  
 
}

 .start img{
  width: 20px;
  height: 20px;
  margin: auto;

  
}




.footer-main{
  margin-top: 16em;
  width: 100%;
  height: 140px;
  background-color:var(--color-Background);

  
  
}


.content-footer{
  padding-top: 1em;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;

  
}

.content-footer img{
 width: 30px;
 height: 30px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 0.5em;
}


.content-footer ul div{
 display:inline-flex;
 flex-direction: row;

 
}

.content-footer li{
  list-style: none;
  margin-left: 5px;
  font-size: small;
  font-family: 'Montserrat', sans-serif;
  

  
}
.content-footer li:hover{
  color: var(--color-background-blue);
  
  

  
}


.content-footer .img{
  width: 16px;
  height: 16px;
  visibility: hidden;
 
}

.content-footer-logo {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; /* Añadido para centrar verticalmente */
}

.content-footer-logo div, .content-footer-logo img {
  width: 110px;
  height: 32px;
  margin: 0; /* Asegúrate de que no haya márgenes */
  padding: 0; /* Asegúrate de que no haya relleno */
  display: flex;
  align-items: center;

}


.content-footer-logo a {
  text-decoration: none;

}
.content-footer-logo a:hover {
  text-decoration: none;
  color: #4063FF;

}

.content-footer-logo div {
  display: flex;
  background: var(--color-background-blue);
  border-radius: 10px;
  color: var(--color-white);
  text-align: center;
  padding: 0.5em;
  padding-left: 1em;
  justify-items: center;

  
  

}

.content-options div:hover .img {
  visibility: visible;
}



 /* media query para un tamaño especifico de pantalla */

 @media (max-width: 640px) and (min-width: 540px) {
  .form button {
    margin-left: 6.4em;
  }

  .section-blog{
    height: 66em;
  }

  .div1-nav{
    width: 20%;
  }

  .div2-nav{
    width: 24%;
  }
  .hamburguerBar{
    padding-bottom: 6%;
  }
}


/* media queries oficiales */

@media (max-width: 290px) {
  .div1, .div2, .div3, .div4, .div5, .div6{
    width: 100px;
  }
  
.section-blog{
  display: flex;
  margin-top: 2em;
  width: 100%;
  height: 74em;
}

}
@media (max-width: 350px) {
  .div1, .div2, .div3, .div4, .div5, .div6{
    width: 100px;
  }
  
.section-blog{
  display: flex;
  margin-top: 2em;
  width: 100%;
  height: 84em;
}

}


@media (min-width: 750px) {
  .hamburguerBar{
    display: none;
  }


  .seccion-of-icons-social-media{
    margin-top: -8em;
   
  }


  
  .Nav{
    height: 88px;
    
  }


  .div1-nav{
    height: 66%;
    width: 18%;
  }
  
  .div2-nav{
    width: 18%;
    height: 68%;
  }

  .image-meet {
    margin-top: 0.5%;
    width: 54%;
    height: 100%;
    
  }
  .menu{
    display: none;
  }

  .boton-contact{
    display: block;
  }
  .boton-contact div{
    background-color: var(--color-background-blue);
  }
  
  

.boton-contact div{
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 46px;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  border-radius: 10px;
  color: var(--color-white);
}

.boton-contact div:hover{
cursor: pointer;
background-color: #4063ffa9;
}





  /* Estilos para pantallas con un ancho de 750px o más */
  /* Agrega aquí tus estilos específicos */
  .home{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10em;
  

  }





  .img-content-home{
    width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0%;
   margin-top: -4em;

  }
  .image-abstracta{
    width: 80%;
    height: 80%;
    padding-top: 0em;
    
   
    


  }


  .content-text{
    width: 50%;
    padding-top: 4em;
  }


  .div-span-leer-mas{
    margin-bottom: 10em;
  }

  .arrow{
margin-top: -168px;
padding-top: 9%;
padding-left: 4%;
  }



  .section-themes{
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    margin: 1em;
    padding-left: 10em;
    overflow-x: scroll;
  }
  .section-themes::-webkit-scrollbar {
    width: 0.5em;
  }
  .div6{
  width: 160px;
  grid-column: 1;
  grid-row: 1
  }

  .form{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }

  .form button{
    margin-left: 9.4em;
  }

  .section-resumen{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .content-grid-resumen{
    height: 64em;
  }

  .grid3{
    height: 20em;
    width: 100%;
  }

  .grid1 .boton1{
    margin-top: 18em;
  }

  .section-blog{
    width: 66%;
  }
  .img-blog{
    height: 32em;
    
  }
 
  
  .arrow{
    display: none;
  }

  .section-blog{
    height: 70em;
   
      display: flex;
      margin-top: 2em;
      width: 100%;
      height: 60em;
  }


}



@media (min-width: 1000px) {

  .content-img{
    height: auto;
    justify-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   
  
   
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em;
    color: var(--color-white);
    margin-top: 6em;
  
  }

  #blog1{
    grid-column: 1 / 2;
    
  
  }
  
  #blog2{
    grid-column: 2 / 3;
    
  }
  
  #blog3{
    
    grid-column: 3 /4 ;
  }
  
  #blog4{
  
    grid-column: 4 / 5;
    grid-row: 1;
    
      
  }
  #blog5{
  grid-row: 1;
    grid-column: 5 / 6;
    width: 100%;
      
  }
  
  .blog p{
    font-size: 10px;
  }


  .seccion-of-icons-social-media{
    margin-top: -2em;
    padding-left: 4em;
    justify-content: start;
  }

  .social-media-icon{
    margin-left: 2em;
  }


  .menu{
    display: none;
  }


  .hamburguerBar{
    display: none;
  }



  .lateralBar{
    display: flex;
  }

  .arrow{
    display: none;
  }

  .div1-nav{
    width: 12%;
  }

  .div2-nav{
    width: 16%;
    font-size: 16px;
   
  }
  .div2-nav span{
    margin-left: -20px;
  }

  .menu{
    display: none;
  }
  



  .image-abstracta {
    margin-top: 1em;
    width: 74%;
    height: 90%;
}

.h1-title {
  font-size: 38px;
  margin-right: 54px;
}

.arrow {

  padding-top: 7%;
  
}







  .section-themes {
    display: grid;
   
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    margin: 0em;
    overflow: hidden;
 
    overflow-x: auto;
    gap: 1em;
    padding: 1em;
    margin-top: 2em;
    width: 80%;
    height: 30em;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
   
   
}

.div1, .div2, .div3, .div4, .div5, .div6 {
  width: auto;
  height: auto;
}

.section-themes{
  height: 38em;
      width: 50%;
      padding: 0;
      padding-top: 1em;
      row-gap: 0;
    }
  
  
   
    .div2{
      grid-column: 1;
      grid-row: 1;
      width: 100%;
      height: 80%;
   
    }
  
  
    .div3{
      grid-column: 2;
      grid-row: 1;
      width: 100%;
      margin: 0;
      height: 80%;
     
  
    }
  
    .div4{
      grid-column: 1;
      grid-row: 2;
      width: 100%;
      height: 80%;
     
    }
  
    .div5{
      grid-column: 2;
      grid-row: 2;
      width: 100%;
      height: 80%;
      
    }
  
    .div6{
      grid-column: 1/ span 2;
      grid-row: 3;
      width: 50%;
      height: 80%;
     
    }

.div1 p, .div2 p, .div3 p, .div4 p, .div5 p, .div6 p{
  margin-top: 1em;
  width: 80%;
  margin-left: auto;
  font-size: 12px;
  margin-right: auto;
}
.div1 h1, .div2 h1, .div3 h1, .div4 h1, .div5 h1, .div6 h1{
  font-size: 18px;
}

.div-content-contact-spans {
  width: 100%;
  height: 8em;
}

.form{
  width: 80%;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.div-primer-form{
  height: 22em;
  width: 40%;
  margin-left: 0;
  margin-right: 0;
  margin: 0.5em;
}

.div-segundo-form{
  width: 40%;
  margin-left: 0.5em;
  margin-right: 0;
  height: 14em;
  margin-top: 3em;
}

.div-primer-form input, .div-segundo-form input{
  margin-bottom: 1em;
  height: 2em;
}

.form button {
  width: 32%;
  margin-top: 14em;
  margin-left: 6.4em;
}

.section-resumen{
  position: relative;
  margin-top: -3em;
height: 30em;
}


.content-grid-resumen{
  
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  height: 30em;
  width: 82%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.grid1{
  grid-column: 1;
}

.grid2{
  width: 65%;
  grid-row: 1;
  grid-column: 2;
  height: 10em;
  margin-top: 31px;
}


.grid3 {
  height: 11em;
  width: 100%;
  grid-row: 2;
  grid-column: 2;
}

.grid1 .boton1 {
  margin-top: 8em;
}

.section-blog{
  display: flex;
  margin-top: 2em;
  width: 100%;
  height: 42em;
}

.img-blog{
  height: 20em;
  margin-top: -1em;
}

.h1-blog{
  font-size: 40px;
}

.div-content-blog{
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.h2-blog {
  font-size: 30px;
}

.p-blog{
  margin-top: 2em;
  font-size: 20px;
}

.section-comentarios{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20em;
  width: 83%;
  margin-top: 10em;
  height: 38em;
}

.coment-div{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

}

.one, .two, .three, .four {
  height: auto;
}

  .one{
    grid-row: 1/span 2;
  }

  .one .new-coment{
    margin-top: 10.5em;
  }

  .two{
    height: 10em;
    margin: 0;
    width: 100%;
  }

  .three .new-coment{
    margin-top: 10.5em;
  }


  .three{
    
    grid-row: 1/span 2;
  }

  .four{
    width: 80%;
    margin: 0;
    grid-column: 2;
    grid-row: 2;
  }

  
  .seccion-of-icons-social-media{
    margin-top: -10em;
    margin-bottom: 0em;
   
  }

  .reunion-virtual {
    font-size: 12px !important;
  }
  


}


@media (min-width: 1280px) {




  .hamburguerBar{
    display: none;
  }


  


  .image-abstracta{
    margin-top: -4em;
  }


  .div-span-leer-mas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 20%;
   color: var(--color-black-leve);
   margin-left: 14em;
  }
  

  
 


  .arrow{
    padding-top: 6%;

  }

  .form{
    width: 70%;
  }

  .content-grid-resumen{
    width: 64%;
  }
  .grid1{
    background-position: -10px -10px
  }

  .img-blog{
    height: 28em;
  }

  .section-comentarios{
    margin-left: auto;
    margin-right: auto;
    width: 83%;
  }

  .coment-div{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

  }

  .one, .two, .three, .four {
    height: auto;
   
  }
  
    .one{
      grid-row: 1/span 2;
      
    }

    .one .new-coment{
      margin-top: 10.5em;
    }
  
    .two{
      height: 10em;
      margin: 0;
      width: 100%;
    }

    .three .new-coment{
      margin-top: 10.5em;
    }


    .three{
      
      grid-row: 1/span 2;
    }
  
    .four{
      width: 80%;
      margin: 0;
      grid-column: 2;
      grid-row: 2;
    }

    .footer-main{
      margin-top: 0em;
    }

    .section-comentarios{
     
      margin-bottom: 0em;
      width: 83%;
    }

    .new-coment{
      margin-top: 0.5em;
    }
  

    .seccion-of-icons-social-media{
      margin-top: -4em;
      margin-bottom: 4em;
      margin-left: 8em;
     
    }


    .div2-nav {
      width: 14%;
      font-size: 16px;
  }



  .section-themes{
height: 38em;
    width: 50%;
    padding: 0;
    padding-top: 1em;
    row-gap: 0;
  }


 
  .div2{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 80%;
 
  }


  .div3{
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    margin: 0;
    height: 80%;
   

  }

  .div4{
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 80%;
   
  }

  .div5{
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 80%;
    
  }

  .div6{
    grid-column: 1/ span 2;
    grid-row: 3;
    width: 50%;
    height: 80%;
   
  }

}

@media screen and (min-width: 1045px) and (max-width: 1278px) {
  .h1-title{
    margin-left: 3em;
  }
  
}



@media (min-width: 1300px) {
  .h1-title{
    margin-left: 6em;
  }
}





