<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/servicios.module.css" />
    <link rel="stylesheet" href="./styles/blog.module.css" />
    <link rel="stylesheet" href="./styles/about.module.css">
    <title>Servicios</title>
  </head>
  <body>
    <nav class="Nav">
      <!-- primer contenedor del nav -->

        <img onclick="clickHombe()"  src="../Image/ORIGINAL (1) (1).png" class="div1-nav" />
     

        <!-- segundo contenedor del nav -->
      <a
        href="https://calendly.com/richarddangoud/publicidad-digital"
        class="div2-nav"
        >
        <div class="image-meet"></div>
        <div class="meet">
          <span>Solicitar</span>
          <span
          style="font-size: 6px; color: rgb(122, 118, 118)"
          class="reunion-virtual"
          >Reunion Virtual</span
          >
        </div>
      </a>
      
      <div class="div3-nav">
        <div class="menu"></div>
        <a href="../index.html#form" class="boton-contact"><div>Contactame</div></a>
      </div>
      
    </nav>
    <div class="hamburguerBar">
      <ul>
        <a  href="./about.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="">
          <li>SOBRE MI</li>
        </a>
        <a href="./Blog.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="">
          <li>BLOG</li>
        </a>
        <a href="./googleAds.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="">
          <li>SERVICIOS</li>
        </a>
        <a href="../index.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="">
          <li>INICIO</li>
        </a>
      </ul>
      <button>Contactame</button>
    </div>

    <section class="section-service">
      <div class="lateralBar">
        <ul>
          <a  href="./about.html" class="menu-link">
            <li>SOBRE MI</li>
            <img class="tarea" src="../Image/tarea.png" alt="">
          </a>
          <a href="./Blog.html" class="menu-link">
            <li>BLOG</li>
            <img class="tarea" src="../Image/tarea.png" alt="">
          </a>
          <a href="./googleAds.html" class="menu-link">
            <li>SERVICIOS</li>
            <img class="tarea" src="../Image/tarea.png" alt="">
          </a>
          <a href="../index.html" class="menu-link">
            <li>INICIO</li>
            <img class="tarea" src="../Image/tarea.png" alt="">
          </a>
        </ul>
      </div>
      <div class="div-content-blog-text">
        <h1 class="blog-title">Richard</h1>

        <h2 class="blog-subtitle">Dangoud</h2>

        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
          neque hic tempore, a veritatis cum minima? Iusto sit facilis ipsa
          <br><br>
          fuga, atque minima recusandae aliquam saepe ipsum quod quas
          voluptatum? Lorem ipsum dolor sit amet consectetur adipisicing elit.
          
        </p>
        <div class="icons-redes">
            <img src="../Image/imagenes-32.png" alt="">
            <img src="../Image/imagenes-33.png" alt="">
            <img src="../Image/imagenes-34.png" alt="">
            <img src="../Image/imagenes-35.png" alt="">
            <img src="../Image/imagenes-36.png" alt="">
        </div>
        <div>
        </div>
      </div>
      <img style=" transform: scaleX(-1)" class="img-services" src="../Image/pngtree-businessman-character-illustration-young-in-elegant-suit-handsome-man-png-image_9278541.png" alt="" />
    </section>
    <script>
      
      function clickHombe() {
        window.location.href = '../index.html';
      }
      </script>
      <script type="module" src="./Style.js"></script>
  </body>
</html>
