<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/servicios.module.css" />
    <link rel="stylesheet" href="./styles/blog.module.css" />
    <title>Servicios</title>
  </head>
  <body>
    <nav class="Nav">
      <!-- primer contenedor del nav -->

        <img onclick="clickHome()"  src="../Image/ORIGINAL (1) (1).png" class="div1-nav" />
     

      <!-- segundo contenedor del nav -->
      <a
        href="https://calendly.com/richarddangoud/publicidad-digital"
        class="div2-nav"
      >
        <div class="image-meet"></div>
        <div class="meet">
          <span>Solicitar</span>
          <span
            style="font-size: 6px; color: rgb(122, 118, 118)"
            class="reunion-virtual"
            >Reunion Virtual</span
          >
        </div>
      </a>

      <div class="div3-nav">
        <div class="menu"></div>
        <a class="boton-contact"><div>Contactame</div></a>
      </div>
    </nav>
    <div class="hamburguerBar">
      <ul>
        <a  href="./about.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="">
          <li>SOBRE MI</li>
        </a>
        <a href="./Blog.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="">
          <li>BLOG</li>
        </a>
        <a href="./googleAds.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="">
          <li>SERVICIOS</li>
        </a>
        <a href="../index.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="">
          <li>INICIO</li>
        </a>
      </ul>
      <button>Contactame</button>
    </div>

    <section class="section-service">
      <div class="lateralBar">
        <ul>
          <a  href="./about.html" class="menu-link">
            <li>SOBRE MI</li>
            <img class="tarea" src="../Image/tarea.png" alt="">
          </a>
          <a href="./Blog.html" class="menu-link">
            <li>BLOG</li>
            <img class="tarea" src="../Image/tarea.png" alt="">
          </a>
          <a href="./googleAds.html" class="menu-link">
            <li>SERVICIOS</li>
            <img class="tarea" src="../Image/tarea.png" alt="">
          </a>
          <a href="../index.html" class="menu-link">
            <li>INICIO</li>
            <img class="tarea" src="../Image/tarea.png" alt="">
          </a>
        </ul>
      </div>
      <div class="div-content-blog-text">
        <h1 class="blog-title">Blog</h1>

        <h2 class="blog-subtitle">Titulo del proyecto</h2>

        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
          neque hic tempore, a veritatis cum minima? Iusto sit facilis ipsa
          fuga, atque minima recusandae aliquam saepe ipsum quod quas
          voluptatum? Lorem ipsum dolor sit amet consectetur adipisicing elit.
          <br /><br />
          Nulla molestiae nesciunt omnis laborum. Tempora deleniti ducimus iusto
          non quaerat tempore nesciunt quam vel minus? Assumenda, temporibus
          debitis? Labore, sed incidunt! lore funciona
        </p>
        <div>
          <h3 class="h3-autor">Escrito Por:</h3>
          <span class="span-autor"
            >RICHARD DANGOUND
            <img
              src="https://www.dzoom.org.es/wp-content/uploads/2020/02/portada-foto-perfil-redes-sociales-consejos.jpg"
              alt=""
          /></span>
        </div>
       
      </div>
      <img class="img-services" src="../Image/Blog .png" alt="" />
    </section>
    <section id="section-theme" class="section-themes">
        <h2 class="ultimas">Ultimas Entradas</h2>
      <div class="carousel-container">
        <div class="contenedor"></div>
      </div>
    </section>
    <footer class="footer-main">
      <div class="content-footer">
        <!-- pendiente -->
        <img src="../Image/lupa.png" alt="lupa" />
        <ul class="content-options">
          <div class="div-link">
            <img class="img" src="../Image/tarea.png" alt="" />
            <a href="../index.html" >
              <li class="lis">INICIO</li>
            </a>
          </div>
          <div class="div-link">
            <img class="img" src="../Image/tarea.png" alt="" />
            <a href="./googleAds.html">
              <li class="lis">SERVICIO</li>
            </a>
          </div>
          <div class="div-link">
            <img class="img" src="../Image/tarea.png" alt="" />
            <a href="./Blog.html">
              <li class="lis">BLOG</li>
            </a>
          </div>
          <div class="div-link">
            <img class="img" src="../Image/tarea.png" alt="" />
            <a href="./about.html">
              <li class="lis">SOBRE MI</li>
            </a>
          </div>
        </ul>
        <div class="content-footer-logo">
          <img src="../Image/ORIGINAL (1).png" alt="logo" />
          <a href="../index.html#form"><div>Contáctame</div></a>
        </div>
      </div>
    </footer>
    <script>
      function clickHome() {
  window.location.href = '../../index.html';
}
    </script>
    <script src="./dinamic.js"></script>
    <script type="module" src="./Style.js"></script>
  </body>
</html>
