<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8RYSKQGZZ4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8RYSKQGZZ4');
</script>
    <meta charset="UTF-8" />
    <link rel="icon" href="../Image/ICON (2).png">
    <meta name="description" content="Consultoría de Marketing: Maximiza tu presencia en línea, aumenta tus ventas y alcanza el éxito empresarial con nuestros servicios de marketing digital. ¡Contáctanos hoy!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/servicios.module.css?v=7.2" />
    <link rel="stylesheet" href="./styles/serviciosP.css?v=7.2" />
    <title>Servicios</title>
  </head>
  <body>
    <nav class="Nav">
      <!-- primer contenedor del nav -->
      <img
        onclick="clickHome()"
        src="../Image/ORIGINAL (1) (1).png"
        class="div1-nav" 
        alt="foto"
      />

      <!-- segundo contenedor del nav -->
      <a target="_blank"
        href="https://calendly.com/richarddangoud/publicidad-digital"
        class="div2-nav"
      >
        <div class="image-meet"></div>
        <div class="meet">
          <span>Solicitar</span>
          <span
            style=" color: rgb(122, 118, 118)"
            class="reunion-virtual"
            >Reunion Virtual</span
          >
        </div>
      </a>

      <div class="div3-nav">
        <div class="menu"></div>
        <a href=".././index.html#form" class="boton-contact">
          <div>Contáctame</div>
        </a>
      </div>
    </nav>
    <div class="hamburguerBar">
      <ul>
        <a href="./about.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="foto" />
          <li>SOBRE MI</li>
        </a>
        <a href="./Blog.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="foto" />
          <li>BLOG</li>
        </a>
        <a href="./googleAds.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="foto" />
          <li>SERVICIOS</li>
        </a>
        <a href="../index.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="foto" />
          <li>INICIO</li>
        </a>
      </ul>
      <button>Contactame</button>
    </div>

    <div class="lateralBar">
      <ul>
        <a href="./about.html" class="menu-link">
          <li>SOBRE MI</li>
          <img class="tarea" src="../Image/tarea.png" alt="foto" />
        </a>
        <a href="./Blog.html" class="menu-link">
          <li>BLOG</li>
          <img class="tarea" src="../Image/tarea.png" alt="foto" />
        </a>
        <a href="./servicios.html" class="menu-link">
          <li>SERVICIOS</li>
          <img class="tarea" src="../Image/tarea.png" alt="foto" />
        </a>
        <a href="../index.html" class="menu-link">
          <li>INICIO</li>
          <img class="tarea" src="../Image/tarea.png" alt="foto" />
        </a>
      </ul>
    </div>

    <section class="seccion-servicios">
      <div class="div-text-new">
        <h1 class="title">Facebook Ads</h1>
        <h2 class="subtitle">
          ¡Descubre Facebook Ads y Eleva tu Negocio a lo Más Alto!
        </h2>
      </div>
      <span class="text-services">
        ¡Hola, emprendedor valiente! ¿Estás listo para adentrarte en el
        emocionante mundo de Facebook Ads? Si aún no estás seguro de qué es y
        cómo podría cambiar el juego para tu negocio, estás en el lugar
        correcto. Permíteme llevarte en un viaje para descubrir por qué esta
        herramienta es <i>imprescindible para tu marca</i>.<br><br> <i>¿Qué es Facebook Ads?</i>
        Facebook Ads es como tener un megáfono en medio de una multitud en el
        mundo digital. Es una plataforma publicitaria poderosa que te permite
        llegar a tus clientes potenciales de manera <i>precisa y efectiva</i> en la
        gigantesca red social Facebook.<br><br> <i>¿Para Qué Sirve?</i> ¿Imagina poder mostrar
        tus productos o servicios solo a las personas que realmente están
        interesadas en ellos? Eso es precisamente lo que hace <i>Facebook Ads</i>.
        Puedes segmentar tu audiencia según su edad, ubicación, intereses e
        incluso comportamientos en línea, lo que significa que tus anuncios
      <i>llegan a las personas adecuadas</i> en el momento adecuado.<br><br> <i>¿Por qué es
        Necesario para tu Empresa?</i> Ahora bien, ¿por qué deberías subirte al tren
        de Facebook Ads? Aquí hay algunas razones:<br><br> <i>1. Crecimiento explosivo</i>:
        Facebook sigue creciendo. ¡En el último año, la red social ha alcanzado
        millones de nuevos usuarios! Esto significa que tu audiencia potencial
        también está creciendo.<br><br> <i>2. Engagement Increíble</i>: La gente pasa mucho
        tiempo en Facebook, interactuando con contenido. Esto significa que
        tienes la oportunidad de conectarte genuinamente con tu audiencia y
        construir relaciones sólidas.<br><br> <i>3. Resultados Medibles</i>: A través de
        estadísticas detalladas, puedes ver exactamente cómo están funcionando
        tus anuncios y ajustarlos según los resultados. Esto significa que cada
        centavo se invierte de manera inteligente.<br><br> Facebook Ads es como un
        tesoro esperando a ser descubierto. Con su <i>crecimiento constante</i> y su
        capacidad para llegar a tu audiencia ideal, es una herramienta que no
        puedes permitirte ignorar. ¡Prepárate para llevar tu negocio a nuevas
        alturas con mis servicios de tráfico digital en Facebook Ads!<br><br>
        <a href="../index.html#form"><i>¡Hagamos que tu Marca Brille en Facebook!</i> 🚀</a>
      </span>
    </section>

    <section id="section-theme" class="section-themes">
      <div class="carousel-container">
        <a href="googleAds.html" class="div-container">
          <img src="../Image/google.png" alt="rocket" />
          <div>
            <h1>Google Ads</h1>
            <p>
              Aprovecha búsquedas activas para promocionar tu negocio en los
              resultados de búsqueda y sitios asociados.
            </p>
            <button class="botons" href="">Leer mas</button>
          </div>
        </a>
        <a href="instagramAds.html" class="div-container">
          <img src="../Image/instagram.png" alt="rocket" />
          <div>
            <h1>Instagram Ads</h1>
            <p>
              Inspira con contenido visual atractivo y llega a una audiencia
              global en Instagram.
            </p>
            <button class="botons" href="">Leer mas</button>
          </div>
        </a>
        <a href="linkedinAds.html" class="div-container">
          <img src="../Image/linkedin.png" alt="rocket" />
          <div>
            <h1>Linkedin Ads</h1>
            <p>
              Dirige tus anuncios a profesionales y empresas en la principal red
              para networking laboral.
            </p>
            <button class="botons" href="">Leer mas</button>
          </div>
        </a>
        <a href="tiktokAds.html" class="div-container">
          <img src="../Image/tiktok.png" alt="rocket" />
          <div>
            <h1>Tik Tok Ads</h1>
            <p>
              Conecta con una audiencia joven a través de videos creativos y
              breves en TikTok.
            </p>
            <button class="botons" href="">Leer mas</button>
          </div>
        </a>
      </div>
    </section>

    <footer class="footer-main">
      <div class="content-footer">
        <!-- pendiente -->
        <img src="../Image/lupa.png" alt="lupa" />
        <ul class="content-options">
          <div class="div-link">
            <img class="img" src="../Image/tarea.png" alt="foto" />
            <a href="../index.html">
              <li class="lis">INICIO</li>
            </a>
          </div>
          <div class="div-link">
            <img class="img" src="../Image/tarea.png" alt="foto" />
            <a href="./servicios.html">
              <li class="lis">SERVICIO</li>
            </a>
          </div>
          <div class="div-link">
            <img class="img" src="../Image/tarea.png" alt="foto" />
            <a href="./Blog.html">
              <li class="lis">BLOG</li>
            </a>
          </div>
          <div class="div-link">
            <img class="img" src="../Image/tarea.png" alt="foto" />
            <a href="./about.html">
              <li class="lis">SOBRE MI</li>
            </a>
          </div>
        </ul>
        <div class="content-footer-logo">
          <img src="../Image/ORIGINAL (1).png" alt="logo" />
          <a href="../index.html#form"><div>Contáctame</div></a>
        </div>
      </div>
    </footer>
    <script>
      function clickHome() {
        window.location.href = "../../index.html";
      }
    </script>
    <script type="module" src="./Style.js"></script>
  </body>
</html>
