<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8RYSKQGZZ4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8RYSKQGZZ4');
</script>
    <meta charset="UTF-8" />
    <link rel="icon" href="../Image/ICON (2).png">
    <meta name="description" content="Consultoría de Marketing: Maximiza tu presencia en línea, aumenta tus ventas y alcanza el éxito empresarial con nuestros servicios de marketing digital. ¡Contáctanos hoy!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/servicios.module.css?v=8.2" />
    <link rel="stylesheet" href="./styles/serviciosP.css?v=8.2" />
    <title>Servicios</title>
  </head>
  <body>
    <nav class="Nav">
      <!-- primer contenedor del nav -->
      <img
        onclick="clickHome()"
        src="../Image/ORIGINAL (1) (1).png"
        class="div1-nav"
        alt="foto"
      />

      <!-- segundo contenedor del nav -->
      <a target="_blank"
        href="https://calendly.com/richarddangoud/publicidad-digital"
        class="div2-nav"
      >
        <div class="image-meet"></div>
        <div class="meet">
          <span>Solicitar</span>
          <span
            style=" color: rgb(122, 118, 118)"
            class="reunion-virtual"
            >Reunion Virtual</span
          >
        </div>
      </a>

      <div class="div3-nav">
        <div class="menu"></div>
        <a href=".././index.html#form" class="boton-contact">
          <div>Contáctame</div>
        </a>
      </div>
    </nav>
    <div class="hamburguerBar">
      <ul>
        <a href="./about.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="foto" />
          <li>SOBRE MI</li>
        </a>
        <a href="./Blog.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="foto" />
          <li>BLOG</li>
        </a>
        <a href="./googleAds.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="foto" />
          <li>SERVICIOS</li>
        </a>
        <a href="../index.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="foto" />
          <li>INICIO</li>
        </a>
      </ul>
      <button>Contactame</button>
    </div>

    <div class="lateralBar">
      <ul>
        <a href="./about.html" class="menu-link">
          <li>SOBRE MI</li>
          <img class="tarea" src="../Image/tarea.png" alt="foto" />
        </a>
        <a href="./Blog.html" class="menu-link">
          <li>BLOG</li>
          <img class="tarea" src="../Image/tarea.png" alt="foto" />
        </a>
        <a href="./servicios.html" class="menu-link">
          <li>SERVICIOS</li>
          <img class="tarea" src="../Image/tarea.png" alt="foto" />
        </a>
        <a href="../index.html" class="menu-link">
          <li>INICIO</li>
          <img class="tarea" src="../Image/tarea.png" alt="foto" />
        </a>
      </ul>
    </div>

    <section class="seccion-servicios">
      <div class="div-text-new">
        <h1 class="title">Google Ads</h1>
        <h2 class="subtitle">
          Domina el Éxito en Línea con Google Ads: Tu Camino Hacia el
          Crecimiento Empresarial
        </h2>
      </div>
      <span class="text-services">
        En el vertiginoso mundo digital, destacar es crucial. Aquí
        es donde entra en juego Google Ads, una herramienta poderosa para
        impulsar tu negocio en línea. Permíteme llevarte a un viaje para
        descubrir por qué Google Ads es esencial y cómo puede transformar tu
        presencia en la web.<br><br> <i>¿Qué es Google Ads y Para Qué Sirve?</i> Google Ads es
        una plataforma publicitaria de Google que te permite promocionar tu
        negocio de manera efectiva en los resultados de búsqueda y en sitios web
        asociados. <i>¿Su propósito?</i> Colocar tu marca frente a aquellos que buscan
      <i>exactamente lo que ofreces</i>. Los beneficios son abundantes:<br><br> <i>Beneficios de
        Google Ads para tu Negocio:</i><br><br> <i>Visibilidad Inmediata</i>: Con Google Ads, tu
        negocio aparecerá en la parte superior de los resultados de búsqueda
        cuando las personas busquen términos relacionados con tus productos o
        servicios.<br><br> <i>Audiencia Relevante</i>: Puedes dirigirte específicamente a tu
        público objetivo, filtrando por ubicación, intereses, demografía y más,
        asegurando que tus anuncios lleguen a las personas adecuadas.<br><br> </i>Control de
        Presupuesto</i>: Tú decides cuánto gastar y puedes ajustar tu presupuesto en
        cualquier momento. Esto garantiza un gasto eficiente y medible.<br><br>
      <i>Resultados Medibles</i>: Google Ads proporciona datos detallados para
        evaluar el rendimiento de tus anuncios en tiempo real. Puedes ver qué
        funciona y qué no, y ajustar tu estrategia en consecuencia.<br><br> <i>Cifras que
        Impulsarán Tu Interés:</i><br><br> Más del 90% de las búsquedas en línea se realizan
        a través de Google. Las empresas ganan un promedio de $8 por cada $1
        gastado en publicidad en Google Ads. El 63% de las personas hacen clic
        en un anuncio de Google cuando buscan comprar en línea.<br><br> En el
        competitivo mundo en línea, Google Ads se convierte en <i>tu mejor aliado</i>.
        Las cifras hablan por sí mismas: es la clave para el <i>crecimiento y la
        visibilidad</i>. No pierdas más tiempo y descubre cómo mi servicio de
        promoción en Google Ads puede <i>impulsar tu negocio hacia nuevas alturas</i>.<br><br>
        <a href="../index.html#form"><i>¡Potencia tu Marca en Google Ads Ahora!</i> 🚀</a>
      </span>
    </section>

    <section id="section-theme" class="section-themes">
      <div class="carousel-container">
        <a href="facebookAds.html" class="div-container">
          <img src="../Image/facebook.png" alt="rocket" />
          <div>
            <h1>Facebook Ads</h1>
            <p>
              Llega a tu audiencia objetivo en la red social más grande con
              anuncios personalizados.
            </p>
            <button class="botons" href="">Leer mas</button>
          </div>
        </a>
        <a href="instagramAds.html" class="div-container">
          <img src="../Image/instagram.png" alt="rocket" />
          <div>
            <h1>Instagram Ads</h1>
            <p>
              Inspira con contenido visual atractivo y llega a una audiencia
              global en Instagram.
            </p>
            <button class="botons" href="">Leer mas</button>
          </div>
        </a>
        <a href="linkedinAds.html" class="div-container">
          <img src="../Image/linkedin.png" alt="rocket" />
          <div>
            <h1>Linkedin Ads</h1>
            <p>
              Dirige tus anuncios a profesionales y empresas en la principal red
              para networking laboral.
            </p>
            <button class="botons" href="">Leer mas</button>
          </div>
        </a>
        <a href="tiktokAds.html" class="div-container">
          <img src="../Image/tiktok.png" alt="rocket" />
          <div>
            <h1>Tik Tok Ads</h1>
            <p>
              Conecta con una audiencia joven a través de videos creativos y
              breves en TikTok.
            </p>
            <button class="botons" href="">Leer mas</button>
          </div>
        </a>
      </div>
    </section>

    <footer class="footer-main">
      <div class="content-footer">
        <!-- pendiente -->
        <img src="../Image/lupa.png" alt="lupa" />
        <ul class="content-options">
          <div class="div-link">
            <img class="img" src="../Image/tarea.png" alt="foto" />
            <a href="../index.html">
              <li class="lis">INICIO</li>
            </a>
          </div>
          <div class="div-link">
            <img class="img" src="../Image/tarea.png" alt="foto" />
            <a href="./servicios.html">
              <li class="lis">SERVICIO</li>
            </a>
          </div>
          <div class="div-link">
            <img class="img" src="../Image/tarea.png" alt="foto" />
            <a href="./Blog.html">
              <li class="lis">BLOG</li>
            </a>
          </div>
          <div class="div-link">
            <img class="img" src="../Image/tarea.png" alt="foto" />
            <a href="./about.html">
              <li class="lis">SOBRE MI</li>
            </a>
          </div>
        </ul>
        <div class="content-footer-logo">
          <img src="../Image/ORIGINAL (1).png" alt="logo" />
          <a href="../index.html#form"><div>Contáctame</div></a>
        </div>
      </div>
    </footer>
    <script>
      function clickHome() {
        window.location.href = "../../index.html";
      }
    </script>
    <script type="module" src="./Style.js"></script>
  </body>
</html>
