<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="../Image/ICON (2).png">
    <meta
      name="description"
      content="Consultoría de Marketing: Maximiza tu presencia en línea, aumenta tus ventas y alcanza el éxito empresarial con nuestros servicios de marketing digital. ¡Contáctanos hoy!"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/servicios.module.css?v=8.2" />
    <link rel="stylesheet" href="./styles/serviciosP.css?v=8.2" />
    <title>Servicios</title>
  </head>
  <body>
    <nav class="Nav">
      <!-- primer contenedor del nav -->
      <img
        onclick="clickHome()"
        src="../Image/ORIGINAL (1) (1).png"
        class="div1-nav"
        alt="foto"
      />

      <!-- segundo contenedor del nav -->
      <a target="_blank"
        href="https://calendly.com/richarddangoud/publicidad-digital"
        class="div2-nav"
      >
        <div class="image-meet"></div>
        <div class="meet">
          <span>Solicitar</span>
          <span
            style=" color: rgb(122, 118, 118)"
            class="reunion-virtual"
            >Reunion Virtual</span
          >
        </div>
      </a>

      <div class="div3-nav">
        <div class="menu"></div>
        <a href=".././index.html#form" class="boton-contact">
          <div>Contáctame</div>
        </a>
      </div>
    </nav>
    <div class="hamburguerBar">
      <ul>
        <a href="./about.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="foto" />
          <li>SOBRE MI</li>
        </a>
        <a href="./Blog.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="foto" />
          <li>BLOG</li>
        </a>
        <a href="./googleAds.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="foto" />
          <li>SERVICIOS</li>
        </a>
        <a href="../index.html" class="menu-link">
          <img class="tarea" src="./Image/tarea.png" alt="foto" />
          <li>INICIO</li>
        </a>
      </ul>
      <button>Contactame</button>
    </div>

    <div class="lateralBar">
      <ul>
        <a href="./about.html" class="menu-link">
          <li>SOBRE MI</li>
          <img class="tarea" src="../Image/tarea.png" alt="foto" />
        </a>
        <a href="./Blog.html" class="menu-link">
          <li>BLOG</li>
          <img class="tarea" src="../Image/tarea.png" alt="foto" />
        </a>
        <a href="./servicios.html" class="menu-link">
          <li>SERVICIOS</li>
          <img class="tarea" src="../Image/tarea.png" alt="foto" />
        </a>
        <a href="../index.html" class="menu-link">
          <li>INICIO</li>
          <img class="tarea" src="../Image/tarea.png" alt="foto" />
        </a>
      </ul>
    </div>

    <section class="seccion-servicios">
      <div class="div-text-new">
        <h1 class="title">servicios</h1>
        <h2 class="subtitle">Desata el Poder del Tráfico Digital</h2>
      </div>
      <span class="text-services">
        ¿Estás listo para <i>elevar tu presencia en línea</i> a un nivel
        completamente nuevo? Como Traficker Digital, estoy aquí para
        <i>impulsar tu éxito</i> en el mundo digital. Permíteme mostrarte cómo
        el tráfico estratégico puede cambiar por completo la forma en que te
        conectas con tu audiencia y <i>hacer crecer tu negocio</i>. <br /><br />
        Imagina una autopista digital congestionada con oportunidades sin
        explotar. Esa es la vasta y dinámica internet de hoy. Mi misión es
        allanar el camino, garantizando que
        <i>tu negocio no pase desapercibido</i> en este bullicioso paisaje
        digital.<br /><br />
        Mi enfoque no es solo
        <i
          >aumentar el número de visitantes a tu sitio web, es atraer al público
          adecuado</i
        >: aquellos que están buscando activamente lo que tienes para ofrecer.
        Utilizo estrategias cuidadosamente diseñadas para dirigir el tráfico
        hacia tu plataforma de una manera que no solo impulse las cifras, sino
        que también impulse las conversiones.
      </span>
    </section>

    <section id="section-theme" class="section-themes">
      <div class="carousel-container">
        <a href="facebookAds.html" class="div-container">
          <img src="../Image/facebook.png" alt="rocket" />
          <div>
            <h1>Facebook Ads</h1>
            <p>
              Llega a tu audiencia objetivo en la red social más grande con
              anuncios personalizados.
            </p>
            <button class="botons" href="">Leer mas</button>
          </div>
        </a>
        <a href="googleAds.html" class="div-container">
          <img src="../Image/google.png" alt="rocket" />
          <div>
            <h1>Google Ads</h1>
            <p>
              Aprovecha búsquedas activas para promocionar tu negocio en los
              resultados de búsqueda y sitios asociados.
            </p>
            <button class="botons" href="">Leer mas</button>
          </div>
        </a>
        <a href="instagramAds.html" class="div-container">
          <img src="../Image/instagram.png" alt="rocket" />
          <div>
            <h1>Instagram Ads</h1>
            <p>
              Inspira con contenido visual atractivo y llega a una audiencia
              global en Instagram.
            </p>
            <button class="botons" href="">Leer mas</button>
          </div>
        </a>
        <a href="linkedinAds.html" class="div-container">
          <img src="../Image/linkedin.png" alt="rocket" />
          <div>
            <h1>Linkedin Ads</h1>
            <p>
              Dirige tus anuncios a profesionales y empresas en la principal red
              para networking laboral.
            </p>
            <button class="botons" href="">Leer mas</button>
          </div>
        </a>
        <a href="tiktokAds.html" class="div-container">
          <img src="../Image/tiktok.png" alt="rocket" />
          <div>
            <h1>Tik Tok Ads</h1>
            <p>
              Conecta con una audiencia joven a través de videos creativos y
              breves en TikTok.
            </p>
            <button class="botons" href="">Leer mas</button>
          </div>
        </a>
      </div>
    </section>

    <footer class="footer-main">
      <div class="content-footer">
        <!-- pendiente -->
        <img src="../Image/lupa.png" alt="lupa" />
        <ul class="content-options">
          <div class="div-link">
            <img class="img" src="../Image/tarea.png" alt="foto" />
            <a href="../index.html">
              <li class="lis">INICIO</li>
            </a>
          </div>
          <div class="div-link">
            <img class="img" src="../Image/tarea.png" alt="foto" />
            <a href="./servicios.html">
              <li class="lis">SERVICIO</li>
            </a>
          </div>
          <div class="div-link">
            <img class="img" src="../Image/tarea.png" alt="foto" />
            <a href="./Blog.html">
              <li class="lis">BLOG</li>
            </a>
          </div>
          <div class="div-link">
            <img class="img" src="../Image/tarea.png" alt="foto" />
            <a href="./about.html">
              <li class="lis">SOBRE MI</li>
            </a>
          </div>
        </ul>
        <div class="content-footer-logo">
          <img src="../Image/ORIGINAL (1).png" alt="logo" />
          <a href="../index.html#form"><div>Contáctame</div></a>
        </div>
      </div>
    </footer>
    <script>
      function clickHome() {
        window.location.href = "../../index.html";
      }
    </script>
    <script type="module" src="./Style.js"></script>
  </body>
</html>
